# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_CLIENT_EMAIL="your-client-email"
FIREBASE_PRIVATE_KEY="your-private-key"
PORT=5000

# Brevo (Email) Configuration
BREVO_USER=your-brevo-user
BREVO_SENDER=your-brevo-sender
BREVO_PASS=your-brevo-pass

# Paystack Configuration
PAYSTACK_SECRET_KEY=your-paystack-secret-key
